<!DOCTYPE html>
<html>
	<head>
		<title></title>
		<link rel="stylesheet" type="text/css" href="/stylesheets/index.css">
		<link rel="stylesheet" href="/stylesheets/barebone.css">
		<link rel="stylesheet" href="/stylesheets/footer-distributed.css">
	
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
		
	</head>
	
	<body>
		<div class="content">
			<ul class="nav" role="navigation">
				<li class="item"><a href="/">Home</a></li>
				<li class="item"><a href="/info">Info</a></li>
				<li class="item"><a href="start">Start a New Game</a></li>
				<% if (scoreboard.started == true) {%>
					<li class="item"><a href="question">Resume Answering Questions</a></li>
					<li class="item">
						<div class="scoreboard">
								<div class="username"> User: <span class= "special"> <%= scoreboard.name %> </span></div> 
								<div class="score">    Score: <span class= "special"> <%= scoreboard.score %> </span></div>
						</div>
					</li>
				<% } %>
			</ul>