<!DOCTYPE html>
<html>
	<head>
		<title></title>
		<link rel="stylesheet" type="text/css" href="/stylesheets/index.css">
	</head>
	
	<body>
		<ul class="nav" role="navigation">
			<li class="item"><a href="/">Home</a></li>
			<li class="item"><a href="/info">Info</a></li>
			<li class="item"><a href="start">Start a New Game</a></li>
			<li class="item"><a href="question">Answer The Questions</a></li>
			<li class="item">
			     <div class="scoreboard">
			             <div class="username"> User: <span class= "special"> <%= scoreboard.name %> </span></div> 
			             <div class="score">    Score: <span class= "special"> <%= scoreboard.score %> </span></div>
			     </div>
			</li>
		</ul>