<% include ./partials/header %>
    <div class="as-container">
        <h1>Congratulations! You have completed all of the questions! Please play this game later for an updated version of the game.</h1>
        <img src="https://media.giphy.com/media/d31w24psGYeekCZy/giphy.gif" style="width: 600px; height: 450px;"></img>
        <p></p>
        <a href="/" class="button">Return</a>
    </div>
    

<% include ./partials/footer %>