<% include ./partials/header %>
	
	<header>
		<h1 id="header">Welcome to <span id="gameName">Math Game</span>!</h1>
		<h2>The Information For This Website Can be Found <a href="/info" class="button">Here</a></h1>		
	</header>


<% include ./partials/footer %>

