<% include ./partials/header %>

<div class = "row">

    <div class="column left-column">
        <div class="note">
            <p>A note from our members:</p>
        </div>
    
        <div class= "introduction">
            <p>This website consist of math problems with varying degrees of difficulty. All of the problems are able to be solved by a student in grade 9. When you find a solution to the problem, click the option in the multiple choice that best resembles your answer. If you don’t know the answer, make an educated guess, as there is a one in four chance (for most of the problems) that your guess will be correct. Enjoy the quiz!</p>
        </div>
    
        <div class="introduction">
            <P>To Start: Click the "Start a New Game" button in the navigation bar</P>
        </div>

        <div class="introduction">
            <P>Adminstration Page: Add /admin at the end of the url.</P>
        </div>
    
    </div>

    <div class="column right-column">
        <p class="note" style="font-size: 2em;">A sample question: </p>
        <img src="https://lh6.googleusercontent.com/HCyScGBpO1kExq5I1qT9rou7MQtulQmCI-tGNoEgu5tY6epkxcfBIKOedPL3f6I3lULcoSJCfRapFB4w8jddtfC7OWQsm_6GS6WOenH_x6W3cthBIqYLynVM154WfzFK2hBgQAMt"></img>
    </div>

</div>


<% include ./partials/footer %>