<% include ./partials/header %>
	<div style="margin: 5% 33.33%">
		<form action="question-user-submit" method="POST">
			<p id = "question_text"><%=chosenQuestion.question%></p>
			<% if (chosenQuestion.image != undefined) { %>
				<img src="<%= chosenQuestion.image %>" alt="image"> <p></p>
			<% } %>
			
			<% chosenQuestion.selections.forEach(function(individualSelection){ %>
				<label class="container"><input type="radio" name="answer" value="<%= individualSelection %>"><%= individualSelection %><span class="checkmark"></span><br></label>
			<% }) %>
			<input type="submit" value="Submit">
		</form>
	</div>

<% include ./partials/footer %>