<% include ./partials/header %>

		<h1>Your answer is <span class="resultText"><%= correctOrNot %></span>!</h1>
		<a href="question" id="nextQuestion" class="button">Click here to answer the next question</a>

<% include ./partials/footer %>