<% include ./partials/header %>
	<div class="as-container">
		<h1>Your answer is <span class="resultText"><%= correctOrNot %></span>!</h1>
		<a href="question" id="nextQuestion" class="button">Click Here To Answer The Next Question</a>
	</div>
<% include ./partials/footer %>