<% include ./partials/header %>

		<!-- Create 4 images that will be click-able 
			 Evenly spread out the image in a 2x2 layout. -->
		<div class="grid-container">
		
			<div class= "grid-item">
				<a href=""><img src="http://www.stleos.uq.edu.au/wp-content/uploads/2016/08/image-placeholder-350x350.png"></a>
			</div>
			
			<div class= "grid-item">
				<a href=""><img src="http://www.stleos.uq.edu.au/wp-content/uploads/2016/08/image-placeholder-350x350.png"></a>
			</div>	
			
			<div class= "grid-item">	
				<a href=""><img src="http://www.stleos.uq.edu.au/wp-content/uploads/2016/08/image-placeholder-350x350.png"></a>
			</div>
				
			<div class= "grid-item">
				<a href=""><img src="http://www.stleos.uq.edu.au/wp-content/uploads/2016/08/image-placeholder-350x350.png"></a>
			</div>
			
		</div>
		<!-- Once the image is clicked, it will trigger a function. -->

<% include ./partials/footer %>