<% include ./partials/header %>

		<form action="question" target="_self">
			<p>Please fill out your information!</p>
			
			Name:
			<input type="text" name="player_name" value=""><br>
			<input type="radio" name="player_grade" value="Answer2">Freshmen<br>
			<input type="radio" name="player_grade" value="Answer2">Sophomore<br>
			<input type="radio" name="player_grade" value="Answer2">Junior<br>
			<input type="radio" name="player_grade" value="Answer2">Senior<br>
			<input type="submit" value="Submit">
		</form>
		
<% include ./partials/footer %>
