<% include ./partials/header %>

		<form action="start" method="post">
			<p>Please fill out your information!</p>
			
			Name:
			<input type="text" name="player_name" value=""><br>
			<input type="radio" name="player_grade" value="9">Freshmen<br>
			<input type="radio" name="player_grade" value="10">Sophomore<br>
			<input type="radio" name="player_grade" value="11">Junior<br>
			<input type="radio" name="player_grade" value="12">Senior<br>
			<input type="submit" value="Submit">
		</form>
		
<% include ./partials/footer %>
