@import url('http://fonts.googleapis.com/css?family=Open+Sans:400,700');

html, body{
	height: 100%;
}

body{
	font:14px/1.5 Arial, Helvetica, sans-serif;
	display: flex;
  	flex-direction: column;
}

.content {
	flex: 1 0 auto;
}

header{
	text-align: center;
	padding-top: 100px;
	margin-bottom:200px;
}

header h1{
	font: normal 32px/1.5 'Open Sans', sans-serif;
	color: #3F71AE;
	padding-bottom: 16px;
}

header h2{
	color: #F05283;
}

/* In our demo, the footers are fixed to the bottom of the page */

footer{
	 /* position: fixed; */
	bottom: 0;
	flex-shrink: 0;
}

@media (max-height:100%){
	footer { position: static; }
	header { padding-top:40px; }
}
